.profile-nav, .profile-info{
    margin-top:30px;
}

.profile-nav .user-heading {
    background: #1e3872;
    border-radius: 20px;
    color: #fff;
    padding-top: 50px;
    text-align: center;
}

.profile-nav .user-heading.round a  {
    border-radius: 50%;
    border: 10px solid rgba(255, 255, 255, 0.3);
    display: inline-block;
}

.profile-nav .user-heading a img {
    width: 112px;
    height: 112px;
    border-radius: 50%;
}

.profile-nav .user-heading h1 {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 5px;
}

.profile-nav .user-heading p {
    font-size: 12px;
}

.profile-nav .list-group {
    margin-top: 50px;
}

.profile-nav .list-group > .list-group-item {
    border-bottom: 1px solid #ebeae6;
    margin-top: 0;
    line-height: 30px;
    cursor: pointer;
    border-radius: 0;
    color: #807f89;
    border-left: 5px solid #fff;
}

.profile-nav .list-group > .list-group-item:hover {
    background: #f8f7f5 !important;
    border: none;
    border-left: 5px solid #1e3872;
    color: #807f89 !important;
}


.p-text-area, .p-text-area:focus {
    border: none;
    font-weight: 300;
    box-shadow: none;
    color: #807f89;
    font-size: 16px;
}

.profile-info .panel-footer {
    background-color:#f6f5f8 ;
    border: 1px solid #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.profile-info .submit-post {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
}

.panel-footer button{
    font-size: 13px;
    margin-left: 8px;
    padding: 5px 20px;
    background-color: #1e3872;
    color: #ffff;
    border-radius: 10px;
}

.profile-info .post{
    background-color: #fff;
    margin-top: 20px;
    padding: 20px;
    border-bottom: solid 3px #1e3872;
}
.profile-info .post .user-profile{
    display: flex;
    flex-direction: row;
}

.user-profile img{
    width: 50px;
    border-radius: 100%;
}

.user-profile .name{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.user-profile .name span{
    font-weight: 600;
    display: flex;
}
.user-profile .name .email{
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
}

.post-body{
    margin-top: 10px;
    padding: 0 10px;
}

.post-body .post-title{
    font-style: italic;
    font-weight: 200;
}
